* {
  margin: 0;
  padding: 0;
}
  
body {
  position: relative; 
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 20px;
  background-color: #e3f79b;
  color: #026332; 
}

header,
footer {
  width: 100%;    
  line-height: 40px;
  color: #e3f79b;
  background-color: #026332;
}

header{
  position: fixed;
  border-bottom: 3px solid #8a9954;
}

footer {
  position: absolute;
  border-top: 3px solid #8a9954;
}
  
main {
  padding-top: 40px;
}

li {
  display: inline-block;
  padding: 0px 20px;
}
  
a {
  text-decoration: none;
  color: #e3f79b;
}
  
img {
  display: block;
  margin: 20px auto;
}

section {
  padding: 20px 0px 10px 0px;
  background-color: #e3f79b;
  color: #026332; 
}

form {
  width: 400px;
  margin: 20px auto;
  padding: 20px 0px 10px 0px;
  border: 3px solid #8a9954;
  border-radius: 20px;
}
  
label {
  /*display: inline-block;*/
  width: 50px;
}
  
input {
  box-sizing: border-box;
  border: 1px solid #8a9954;
  width: 300px;
  height: 24px;
}
  
button {
  height: 30px;
  width: 100px;
  background-color: #8a9954;
  color: #e3f79b;
  font-size: 20px;
}

.text-center {
  text-align: center;
}
  
.text-right {
  text-align: right;
}  